@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body {
	width: 100%;
	margin: auto;
}

header {
	margin: auto;
	background-color: #eaeaea;
}
nav {
	
	margin: 0 auto;
	height: 75px;
	width: 960px;
}
nav a {
	text-decoration: none;
	color: #236035;
}
nav ul li {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	color: #236035;
	font-weight: 600;
	font-size: 16px;
	margin: 51px;
	margin-top: 25px;
}

h1 {
	text-align: center;
	font-family:  didot;
	font-size: 45px;
	position: relative;
	top: 70px;
}
h2 {
	font-family: didot;
	font-size: 30px;
	position: relative;
	float: right;
	top: 150px;
	width: 500px;
}
main {
	width: 960px;
	margin: 0 auto;
}
main p {
	top: 160px;
	position: relative;
	font-family: futura-pt, sans-serif;
	width:500px;
	float: right;
}


#colors div {
	width: 50px;
	height: 20px;
	position: relative;
	top: 310px;
	display: inline-block;
	left: 30%; 
	margin: 5px;
}

#polish {
	height: 430px;
	width: 166.6px;
	float: left;
	position: relative;
	top: 185px;
	left: 22%;
	background-image: url('alimental.png');
	background-size: cover;
}


/*series 1*/
#betacarotene {
	background-color: rgba(224,96,0,1.00);
}
#brassica {
	background-color: rgba(15,60,15,1.00);
}
#riboflavin {
	background-color: rgba(255,236,146,1.00);
}
#niacin {
	background-color: rgba(255,192,193,1.00);
}
#folate {
	background-color: rgba(91,246,125,1.00);
}
#pantothenic {
	background-color: rgba(201,0,3,1.00);
}

aside {
	position: relative;
	top: 75px;
}


html, body {
       margin:0;
       padding:0;
       height:100%;
    }
    #container {
       min-height:100%;
       position:relative;
    }
    footer{
        background:#eaeaea;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height:50px;
		
    }


    footer p {
        text-align: center;
		padding-top: 15px;
		font-family: futura-pt, sans-serif;
		color: gray;
    }


