@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
h1 {
	text-align: center;
	font-family:  didot;
	font-size: 45px;
	position: relative;
	top: 70px;
}
body {
	width: 100%;
	margin: auto;
}




header {
	margin: auto;
	background-color: #eaeaea;
}
nav {
	
	margin: 0 auto;
	height: 75px;
	width: 960px;
}
nav a {
	text-decoration: none;
	color: #236035;
}
nav ul li {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	color: #236035;
	font-weight: 600;
	font-size: 16px;
	margin: 51px;
	margin-top: 25px;
}
main p {
	font-family: futura-pt, sans-serif;
	width: 500px;
	
}
main {
	width: 960px;
	margin: 0 auto;
}
aside {
	float: right;
	position: relative;
	right: 5%;
	top: 150px;
}

#pictures {
	position: relative;
	top: 100px;
	left: 10%;
	float: left;
}

#pictures img {
	margin: 15px;
}

#shawn {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

#lexi {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

