@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body {
	width: 100%;
	margin: auto;
	height: 100%;
}

header {
	margin: auto;
	background-color: #eaeaea;
}
nav {
	
	margin: 0 auto;
	height: 75px;
	width: 960px;
}
nav a {
	text-decoration: none;
	color: #236035;
}
nav ul li {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	color: #236035;
	font-weight: 600;
	font-size: 16px;
	margin: 51px;
	margin-top: 25px;
}

h1 {
	
	font-family:  didot;
	font-size: 45px;
	padding-top: 70px;
	
}
h2 {
	font-family: didot;
	font-size: 30px;
/*
	position: relative;
	float: right;
	top: 150px;
*/
	
}

main p {
/*
	top: 160px;
	position: relative;
*/
	font-family: futura-pt, sans-serif;
	width:430px;
	 text-align: justify;
    text-justify: inter-word;
	padding-right:0;
	
}


#colors {
	position: relative;
	right: 5px;
	
}
#colors div {
	width: 50px;
	height: 20px;
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

main {
	width: 960px;
	margin: 0 auto;
	height: 700px;
}


.main_header {
	text-align: center;
}

#polish {
	height: 430px;
	width: 166.6px;
	float: left;
	position: relative;
	top: 50px;
	margin-left: 100px;
/*	left: 22%;*/
	background-image: url('comestible.png');
	background-size: cover;
	
}

aside {
	padding-top: 170px;
	float: right;
	
	padding-right: 100px;
}



/*series 1*/
#Ribollita {
	background-color: #87220b;
	margin-left: 0;
}
#Puttanesca {
	background-color: #fc0d1d;
}
#sisterslaw {
	background-color: #f849bf;
}
#Colcannon {
	background-color: #fff4d1;
}
#floweringkale {
	background-color: #510c78;
}
#Sauteed {
	background-color: #022f10;
}

#cart {
	text-align: center;
	font-family: futura-pt, sans-serif;
	padding: 10px 30px 10px 30px;
	width: 100px;
	position: relative;
	top: 10px;
	background-color: #eaeaea;
	

}
#cart:hover {
	background-color: #B3B3B3;
}


    footer{
        background:#eaeaea;
/*        position: absolute;*/
        width: 100%;
        height:50px;
		clear: both;
    }


    footer p {
        text-align: center;
		padding-top: 15px;
		font-family: futura-pt, sans-serif;
		color: gray;
    }


#color-name {
	font-family: 'Futura-PT', sans-serif;
}
